@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Typography */
    --family: 'Nunito Sans', sans-serif;
    --fs-sm: 14px;
    --fs-md: 16px;
    --fw-light: 300;
    --fw-normal: 600;
    --fw-bold: 800;

    /* Other */
    --radii: 0.4rem;
}
#root{
    min-height: 100vh;
    position: relative;
}

body[data-theme='dark'] {
    --colors-text: hsl(0, 0%, 100%);
    --colors-bg: hsl(207, 26%, 17%);
    --colors-ui-base: hsl(209, 23%, 22%);


    --shadow: hsl(207deg 25.54% 13.06%) 0 0 10px;
}

body[data-theme='light'] {
    --colors-text: hsl(200, 15%, 8%);
    --colors-bg: hsl(0, 0%, 98%);
    --colors-ui-base: hsl(0, 0%, 100%);



    --shadow:  rgba(149, 157, 165, 0.3) 0 0 15px;
}

body {
    margin: 0;
    font-family: var(--family);
    color: var(--colors-text);
    font-weight: 300;
    background-color: var(--colors-bg);
}

.arrow-back {
    height: 14px;
    width: 14px;
}

@media (min-width: 767px) {
    .arrow-back {
        height: 20px;
        width: 20px;
    }
}

.moon-outline, .moon {
    height: 14px;
    width: 14px;
}

@media (min-width: 767px) {
    .moon-outline, .moon {
        height: 16px;
        width: 16px;
    }
}
